.mobile-layout {
  background-color: #FFFFFF; /* 배경색을 흰색으로 설정 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF; /* 헤더의 배경도 흰색으로 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px; /* 로고 크기 조절 */
}

.content {
  width: 100%;
  padding: 20px;
  flex: 1;
}

