.background {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 120px); /* 전체 화면 높이 */
  width: 100%; /* 전체 너비 */
  position: relative;
}
.topWrapper {
  display: flex; /* 또는 block으로 변경 가능 */
  flex-direction: column; /* 수직 정렬 */
  gap: 4px;
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.teamName {
  font-size: 20px;
  font-weight: 600;
}
.reasonWrapper {
  /* background-color: aliceblue; */
}

.reason {
  font-size: 18px;
}
.dayWrapper {
  background-color: #b3dca9;
  margin-bottom: 8px;
  border-radius: 12px;
  padding: 18px;
}
.day {
  font-size: 18px;
  font-weight: 600;
}
.course {
  padding-top: 4px;

  padding-bottom: 4px;
}
.keywordWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}
.teamNameWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}
