.map-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-box {
  position: relative;
  width: 300px;
  height: auto;
  background-color: #e1fefc;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  margin-top: 20px;
}
.text {
  color: #517f53;
}
.map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-map {
  width: 100%;
  opacity: 1;
}

.highlighted-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.region-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* GO 버튼 스타일 */
.go-button {
  background-color: #ffcccb;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.go-button:hover {
  background-color: #ffa07a;
}

/* 결과 보기 버튼 스타일 */
.result-button {
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.result-button:hover {
  background-color: #45a049;
}
